/* navbar */

#navbar {
    text-align:center;
    position: fixed;
    top: 5vh;
    left: 30vh;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
    display: inline;
    border: 0.2vh solid black;
    background: darkturquoise;
    padding: 1em 1em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em black;
    margin-left: 1vw;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

body {
    background: tan;
    font-family: sans-serif;
}

/* clock */

#clockContainer {
    height: 50vh;
    width: 50vw;
    text-align: center;
    position: relative;
    top: 25vh;
    left: 50vh;
    border: 0.7vh solid black;
    border-radius: 4vh;
    box-shadow: 2vh 2vh black;
    background: skyblue;
}

p {
    position: static;
    font-size: 3em;
}