/* navbar */

#navbar {
    text-align:center;
    position: fixed;
    top: 5vh;
    left: 30vh;
    padding: 0;
    margin: 0;
}

li {
    text-align: center;
    display: inline;
    border: 0.2vh solid black;
    background: darkturquoise;
    padding: 1em 1em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em black;
    margin-left: 1vw;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

body {
    background: tan;
    font-family: sans-serif;
}

/* quote generator */

.background {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#newQuote {
    text-align: center;
    position: relative;
    top: 30vh;
    height: 12vh;
    width: 18vw;
    box-shadow: 0vh 0vh 0.5vh 0.5vh black;
}

#quoteBox {
    text-align: center;
    position: relative;
    top: 45vh;
}